---
// src/components/SubMenu.astro
const { page } = Astro.props; // 'dispositivo' | 'historial'
---

{page === 'dispositivo' && (
  <div class="subnav">
    <a href="#estado" id="sub-estado" class="active">Estado en vivo</a>
    <div class="subnav-sep"></div>
    <a href="#bateria" id="sub-bateria">Batería</a>
    <div class="subnav-sep"></div>
    <a href="#sensores" id="sub-sensores">Sensores</a>
  </div>
)}

{page === 'historial' && (
  <div class="subnav">
    <a href="#" id="sub-todo" class="active">Todas</a>
    <div class="subnav-sep"></div>
    <a href="#" id="sub-feynman">🧠 Feynman</a>
    <div class="subnav-sep"></div>
    <a href="#" id="sub-pomodoro">🍅 Pomodoro</a>
    <div class="subnav-sep"></div>
    <a href="#" id="sub-respiracion">🌬️ Respiración</a>
  </div>
)}